<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_tehwr4Gf_zRirYTiResKotZ1N6sjLqk</string>
	<key>GCM_SENDER_ID</key>
	<string>770826916376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arivon.finKhata</string>
	<key>PROJECT_ID</key>
	<string>fin-khata-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fin-khata-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770826916376:ios:6b01546976ba51e9a8a96d</string>
</dict>
</plist>