<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByMHYXn9VeVKBvbQoOaw-SRxG6ZTsU4sE</string>
	<key>GCM_SENDER_ID</key>
	<string>1017286601732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arivon.finKhata</string>
	<key>PROJECT_ID</key>
	<string>finkhata-6c3ee</string>
	<key>STORAGE_BUCKET</key>
	<string>finkhata-6c3ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017286601732:ios:a7148d3021c436be771951</string>
</dict>
</plist>